@* Privacy Page C# + HTML View *@
@* contains content that user can see + interact with - similar to component files in React *@

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
